<footer class="footer">
      <div class="container footer-copyright center-align">
        <span class="text-muted">© 2018 Copyright: <a href="http://kills.pl/"> Kills.pl </a></span>
      </div>
    </footer>
