{% load static %}

<nav class="nav-extended">
          <div class="nav-wrapper #263238 blue-grey darken-4">
            <a href="{% url 'home' %}" class="brand-logo">WeedCraft.eu</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
              <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'home' %}">Główna</a></li>
                <li><a href="{% url 'shop' %}"><i class="fas fa-angle-right fa-lg"></i> Sklep <i class="fas fa-angle-left fa-lg"></i></a></li>
                <li><a href="{% url 'tops' %}">Topka</a></li>
                <li><a href="{% url 'team' %}">Ekipa</a></li>
                <li><a href="{% url 'rules' %}">Regulamin</a></li>
            </ul>
          </div>
        </nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'home' %}">Główna</a></li>
    <li><a href="{% url 'shop' %}">Sklep</a></li>
    <li><a href="{% url 'tops' %}">Topka</a></li>
    <li><a href="{% url 'team' %}">Ekipa</a></li>
    <li><a href="{% url 'rules' %}">Regulamin</a></li>
</ul>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
 $(document).ready(function(){
    $('.sidenav').sidenav();
  });

</script>