{% extends 'base.html' %}

{% block content %}
    <main class="container">
        {% if info %}
            <p>{{ info }}</p>
        {% endif %}

        <form action="{% url 'create_vouchers' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
        </form>
    </main>
{% endblock %}