{% extends 'base.html' %}

{% block content %}
    <br>
    <main class="container">
        {% if msg %}
        <div class="alert alert-warning">{{ msg }}</div>
        {% endif %}
        <div class="row center-align">
            <div class="col s6">
                <div class="card text-center">
                    <div class="profile-box">
                        <img class="card-img-top circle" src="/images/{{ product.image }}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4><b>{{ product.name }}</b></h4>
                        <div class="card-body">
                            <h5>{{ product.sms_price.price_vat }}zł(z VAT)</h5>
                            <h6>SMS</h6>
                            <br>
                            <hr class="mb-5 mt-5 pb-3">
                            <h5>{{ product.price }}zł</h5>
                            <h6>PRZELEW</h6>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <h6>
                    {{ product.description }}
                </h6>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row center-align">
            <h3 class="text-center col-12"><i class="fas fa-angle-double-down"></i>WYBIERZ SPOSÓB PŁATNOŚCI<i class="fas fa-angle-double-down"></i></h3>
        </div>
        <br>
        <br>
        <br>
        <div class="row center-align">
            <div class="col s12">
                <div class="row" style="border: none">
                    <div>
                        <a data-target="modal1" class="col s5 btn modal-trigger" href="#!">SMS</a>
                    </div>
                    <div class="col s2"></div>
                    <div>
                        <a data-target="modal2" class="col s5 btn modal-trigger" href="#!">PRZELEW</a>
                    </div>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div id="modal1" class="modal" id="SMS" style="padding: 40px; border-radius: 50px">
                          {% csrf_token %}
                          <form method="post" action="/shop/detail/{{ product.name }}/sms">
                              <div class="alert bg-success text-center" style="border-radius: 0px; margin: 0px; border: none">
                                  <br>
                                  <h3><b>Wyślij sms o treści 'MSMS.MCKILLS' na numer {{ product.sms_price.number }}</b></h3>
                                  <br>
                                  {% csrf_token %}
{#                                  {{ sms_form }}#}
                                  <div class="d-flex justify-content-center">
                                      <div class="form-group align-items-center">
                                          <label for="{{ sms_form.username.id_for_label }}"><h4>Nazwa gracza</h4></label>
                                           {{ sms_form.username }}
                                           <br>
                                          <label for="{{ sms_form.code.id_for_label }}"><h4>Kod</h4></label>
                                           {{ sms_form.code }}
                                      </div>
                                  </div>
                              </div>
                              <div class="bg-dark text-center text-md-right alert" style="border-top-left-radius: 0px; border-top-right-radius: 0px">
                                <input class="btn btn-success" type="submit" name="submit" value="Zapłać">
                              </div>
                          </form>
                      </div>
                      <div id="modal2" class="modal" id="PRZELEW" style="padding: 40px; border-radius: 50px">
                          <form method="post" action="/shop/detail/{{ product.name }}/transfer/">
                              <div class="alert bg-success text-center" style="border-radius: 0px; margin: 0px; border: none;">
                                  {% csrf_token %}
{#                                  {{ transfer_form }}#}
                                  <div class="d-flex justify-content-center">
                                      <div class="form-group align-items-center">
                                          <label for="{{ transfer_form.username.id_for_label }}"><h4>Nazwa gracza</h4></label>
                                           {{ transfer_form.username }}
                                           <br>
                                          <label for="{{ transfer_form.email.id_for_label }}"><h4>Email</h4></label>
                                           {{ transfer_form.email }}
                                      </div>
                                  </div>
                              </div>
                              <div class="bg-dark text-center text-md-right alert" style="border-top-left-radius: 0px; border-top-right-radius: 0px">
                                <input class="btn btn-success" type="submit" name="submit" value="Zapłać">
                              </div>
                          </form>
                      </div>
                    </div>
                </div>

                <div class="alert alert-info">
                    Płatności zapewnia firma <a href="https://microsms.pl">MicroSMS</a>.
                    Korzystanie z serwisu jest jednoznaczne z akceptacją regulaminów.
                    Jeśli nie dostałeś kodu zwrotnego w ciągu 30 minut skorzystaj z <a href="https://microsms.pl/cms/complaint.php">formularza reklamacyjnego</a>.
                </div>
            </div>
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.modal').modal();
          });
    </script>
{% endblock %}