{% extends 'base.html' %}

{% block content %}
<main class="">
    <div class="#546e7a blue-grey darken-1 col s12 center-align" style="color: #ffffff">
        <br>
        <h1 class="text-white">SKLEP</h1>
        <br>
        <a class="#f44336 red waves-effect waves-light btn" href="{% url 'use_voucher' %}">Zrealizuj Voucher</a>
        <br>
        <br>
    </div>
    <div class="row">
        <div class="col s2"></div>
        <div class="col s8 center-align" style="margin: 30px; align-content: center">
            {% for product in products %}
                <div class="card card-01 col s3 #eceff1 blue-grey lighten-5 z-depth-2" style="width: 18rem;margin-right: 20px">
                <div class="profile-box">
                    <img class="circle" src="/images/{{ product.image }}" alt="Card image cap">
                </div>
                  <div class="card-body" style="clear:both">
                    <h4 class="card-title">{{ product }}</h4>
                      <a href="/shop/detail/{{ product.name }}" class="btn btn-success #00c853 green accent-4">Płatność</a>
                      <br><br>
                  </div>
                </div>
            {% endfor %}
        </div>
        <div class="col s2"></div>
    </div>
</main>
{% endblock %}