<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kills.pl</title>
    <script>
        function submit() {
            document.getElementById('form').submit();
        }
    </script>
</head>
<body onload="submit();">
    <h3>Przekierowanie płatności</h3>
    <form id="form" method="get" action="{{ transfer.url }}">

        {% for input in transfer.inputs %}
            <input type="hidden" name="{{ input.field }}" value="{{ input.value }}">
        {% endfor %}

        <input type="hidden" name="charset" value="utf-8">
        <input type="submit" value="Kliknij Tutaj, jeżeli nie zostaniesz przeniesiony w ciągu 10 sekund">
    </form>
</body>
</html>