{% extends 'base.html' %}

{% block content %}
    <main class="container">
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}

        <form method="post" action="{% url 'use_voucher' %}">
            {% csrf_token %}
            {{ form }}
        <input type="submit" value="submit">
        </form>
    </main>
{% endblock %}