<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar-top-fixed.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel='stylesheet' href="{% static 'css/fotter.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>

    {% include 'include/_navbar.html' %}

    {% block content %}

    {% endblock %}

    <br><br><br>

    {% include 'include/_footer.html' %}
  </body>
</html>
