{% extends 'base.html' %}

{% load static %}

{% block content %}
<main class='' style="margin-top: 0px">
    <div class="center-align row" style='margin-bottom: 0px;margin-top: 0px'>
      <div class="#546e7a blue-grey darken-1 col s12" style='color:#212529'>
          <div class='text-center'>
            <img class='responsive-img' style="height: inherit; max-height: 325px" src='{% static 'images/logo main.png' %}' alt='logo'>
            <br><br>
              <h5><b>Twoje miejsce w minecraft</b></h5>
            <br>
            <a class='#00c853 green accent-4 waves-effect waves-light btn' href="{%  url 'shop' %}">SKLEP</a>
            <button type="button" class='#00c853 green accent-4 waves-effect waves-light btn'>MC.KILLS.PL</button>
            {% if user.is_authenticated %}
            <p>Welcome {{ user.username }} !!!</p>
            {% endif %}
            </div>
      </div>
    </div>
    <div class="#039be5 light-blue darken-1 center-align" style="margin-top:0px;color: #fff;">
        <div class="col s12 container text-white text-center">
            <br><br>
            <h4 class="display-4">Zapraszamy na nasz server</h4>
            <h4 class="display-4"><b>TeamSpeak3</b></h4>
            <br>
            <h4 class="display-4">Będzie on twoim nowym miejscem rozmów</h4>
            <br>
            <a class="#00c853 green accent-4 waves-effect waves-light btn" href="ts3server://kills.pl?port=9987&channelID=1">Kliknij aby polaczyc</a>
            <br><br>
        </div>
    </div>
    <div class="container col s12 center-align">
        <br><br><br>
        <h4 class="text-center"><i class="fas fa-arrow-down"></i>    Zobacz co u nas    <i class="fas fa-arrow-down"></i></h4>
        <br><br><br>
        {% for article in articles %}
            <hr class="mb-5 mt-5 pb-3">
            <div class="row">
                <!--Grid column-->
                <div class="col s5">
                    <!--Featured image-->
                    <div class="rounded">
                        <br>
                        <img src="/images/{{ article.image_header }}" alt="Sample image for first version of blog listing"
                            class="responsive-img">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col s7" style="text-align: left">
                    <h4 style="color: #4caf50">
                        <b>{{ article.title }}</b>
                    </h4>
                    <p>{{ article.short }}</p>
                    <p>by
                        <a>
                            <strong>{{ article.user }}</strong>
                        </a>, {{ article.create_date }}</p>
                    <a class="#00c853 green accent-4 waves-effect waves-light btn" href="/article/{{ article.title }}">Czytaj</a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        {% endfor %}
    </div>
    <hr class="mb-5 mt-5 pb-3">
</main>
{% endblock %}
