{% extends 'base.html' %}

{% block content %}
    <main class="container">
        <p>Art.1
            <ol>
                <li>Wchodząc na serwer akceptujesz regulamin</li>
                <li>Nieznajomość regulaminu nie zwalnia cię z odpowiedzialności</li>
                <li>Nie przestrzeganie regulaminu poniżej grozi blokadą, wyciszeniem, utratą rankingu lub przedmiotów z konta</li>
                <li>Zakupione przedmioty mogą zostać stracone po nałożeniu blokady na konto</li>
            </ol>
            Art.2
            <ol>
                <li>Administracja nie rozdają przedmiotów</li>
                <li>Administracja nie wspomagąją graczy</li>
                <li>Administracja nie są odpowiedzialni za kradzieże przedmitów lub konta</li>
                <li>Administracja mają prawo przeglądać pliki związane z grą minecraft</li>
                <li>Administracja mają prawo wymagać zainstalowania przez gracza programów takich jak: Teamspeak3, Skype, TeamViewer, AnyDesk</li>
            </ol>
            Art.2
            <ol>
                <li>Używanie Cheat Clientów skutkuje banem na 3 lub 10 dni</li>
                <li>Modyfikowanie wersji gry jest zabronione</li>
                <li>Posiadanie przezroczystych tekstur skutkuje banem na 2 dni</li>
                <li>Tworzenie MultiKont grozi banem na 2 dni</li>
                <li>Nieuczciwe nabijanie grozi banem na 10 dni i resetem rankingu</li>
                <li>Wylogowanie się podczas sprawdzania skutkuje banem na 10 dni</li>
                <li>Usunięcie reklamy serwera skutkuje banem na 5 dni</li>
                <li>Gracz ma obowiązek mieć włączony chat w razie sutyacji gdy administrator będzie chciał sprawdzić czy posiada niedozwolone modyfikacje</li>
                <li>Uzywanie MinecraftForge jest zabronione</li>
                <li>Kopanie na afku grozi banem na 2 dni</li>
            </ol>
            Art.4
            <ol>
                <li>Obraza Graczy, Administacji lub osób trzecich jest zabroniona</li>
                <li>Spam na chacie lub helpopie jest zabroniony</li>
                <li>Reklamowanie innych serwerów, stron, komunikatorów lub filmów nie związanych z siecią serwerów KILLS.PL jest zabronione, z wyjatkiem podawania adresu serwera głosowego w celu rekrutacji członków gildii</li>
                <li>Udostępnianie danych osobowych lub prywatnych jest zabronione</li>
            </ol>
            Art.5
            <ol>
                <li>Administracja nie ponosi odpowiedzialności za przedmioty od chwili otrzymania ich przez gracza</li>
                <li>Zakupy dokonane w sklepie nie podlegają zwrotom</li>
                <li>Nie ponosimy odpowiedzialności za błędnie wysłane SMS.</li>
                <li>Nie ponosimy odpowiedzialności za błednie wpisane nicki, usługa automatycznie aktywuje się na wybrany nick.</li>
                <li>Klient dokonując zapłaty poświadcza, że nick który podał jest prawidłowy.</li>
                <li>Aktywacja usługi na zły nick z winy klienta równoznaczna jest z zrzeknięciem się prawa zwrotu pieniędzy przez klienta.</li>
                <li>Nie ma możliwości przepisania lub zmiany konta docelowego dla wybranej usługi, nawet w przypadku pomyłki - niektóre nicki mogą posiadać ograniczenia do zakupu wybranych usług.</li>
                <li>Użytkownik kupując przedmioty musi być na serwerze MC.KILLS.PL oraz mieć przynajmniej 6 miejsc wolnych</li>
                <li>Płatności sms i przelewy są obsługiwane przez firme microsms.pl</li>
                <li>Regulamin serwisu microsms.pl dostępny jest pod linkiem <a href="https://microsms.pl/files/regulations/">https://microsms.pl/files/regulations/</a></li>
                <li>Reklamacje zgłaszamy pod adresem <a href="https://microsms.pl/cms/complaint.php">https://microsms.pl/cms/complaint.php</a></li>
            </ol>
        </p>
    </main>
{% endblock %}