{% extends 'base.html' %}

{% block content %}
    <main class="container">
        <div class="row">
            {% for member in members %}
                <div class="col s4 profile-box center" style="color: #212529; width: 18rem;border-radius: 10px;border: 2px solid {{ member.group.color }};margin: 0px 0px 15px 15px; outline: none">
                    <div class="" style="background-color: {{ member.group.color }}; width: 20rem;margin: 0px 0px 0px -12.5px">
                        <p style="margin-top: 0px; font-size: 0px">sd</p>
                        <h5><strong>{{ member.group.name }}</strong></h5>
                        <p style="margin-top: 0px; font-size: 0px">sd</p>
                    </div>
                        {# <img class="circle left" src="/images/{{ member.image }}" alt="Zdjęcie osoby"> #}
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{ member.name }}</strong></h5>
                        <p class="card-text">{{ member.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
