{% extends 'base.html' %}

{% block content %}
        <div class="row z-depth-0" style="padding-top: 20px">
        {% for top in tops %}
            <div class="col s6 hide-on-med-and-down">
            <b>
                <table class="highlight" style="border-radius: 50px">
                    <thead class="#ef5350 red lighten-1">
                        <th class="center-align" style="border-radius: 0px;border-top-left-radius: 20px">#</th>
                        <th style="border-radius: 0px;border-top-right-radius: 20px">{{ top.0 }}</th>
                    </thead>
                    <tbody class="#263238 blue-grey darken-4" style="color: #ffffff">
                        {% for player in top %}
                            {% if player == top.0 %}

                            {% else %}
                                <tr>
                                    <th class="center-align" style="border-radius: 0px">
                                        <span>{{ forloop.counter0 }}.   </span>
                                    </th>
                                    <td style="border-radius: 0px">
                                        {{ player }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </b>
            </div>
            <div class="col s12 hide-on-large-only">
            <b>
                <table class="highlight" style="border-radius: 50px">
                    <thead class="#ef5350 red lighten-1">
                        <th class="center-align" style="border-radius: 0px;border-top-left-radius: 20px">#</th>
                        <th style="border-radius: 0px;border-top-right-radius: 20px">{{ top.0 }}</th>
                    </thead>
                    <tbody class="#263238 blue-grey darken-4" style="color: #ffffff">
                        {% for player in top %}
                            {% if player == top.0 %}

                            {% else %}
                                <tr>
                                    <th class="center-align" style="border-radius: 0px">
                                        <span>{{ forloop.counter0 }}.   </span>
                                    </th>
                                    <td style="border-radius: 0px">
                                        {{ player }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            <br><br>
            </b>
            </div>
        {% endfor %}
        </div>
{% endblock %}