{% extends 'base.html' %}

{% block content %}
    <main class="container">
        <h1>{{ article.title }}</h1>
        <hr class="mb-5 mt-5 pb-3">
        <div class="row">
            <div class="col s7">
                <p>{{ article.category }}</p>
                <p>{{ article.create_date }}</p>
                <br>
                <p class="text-justify">{{ article.body }}</p>
                <br>
                <br>
                <p class="">Dodane prze {{ article.user.username }}</p>
            </div>
            <div class="col s5"><img src="/images/{{ article.image_header }}" alt="Sample image for first version of blog listing"
                            class="responsive-img"></div>
        </div>
    </main>
{% endblock %}