/* Show it is fixed to the top */
/* body {
  min-height: 75rem;
  padding-top: 4.5rem;
} */

/* .navbar-transparent{
  opacity: 0.75;
}

.navbar-transparent:hover{
  opacity: 0.9;
} */

.bg-black{
  background-color: rgba(0,0,0,0.75);
  transition: background-color 0.25s;
}

.bg-black:hover{
  background-color: rgba(0,0,0,0.9);
}
