body{
  background-color: #fff;
}

.vl {
  display: inline;
    border-left: 1px solid gray;
    height: 1em;
  left: 50%;
    margin-left: -3px;
    top: 0;
}

/* tab color */
.nav-tabs .nav-link:not(.active) {
    border: none;
    color: #343a40 !important;
}

.nav-tabs .nav-link.active {
    background-color: #28a745 !important;
    border: none;
    color: white !important;
}

.profile-box{float:left;width:100%; padding:30px 0; position:relative; overflow:hidden;}

.profile-box img{width:170px; height:170px; position:relative;}